In [1]:
!pip install --upgrade pip

Requirement already satisfied: pip in /usr/local/lib/python3.10/dist-packages (23.1.2)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 19.1 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.1.2
    Uninstalling pip-23.1.2:
      Successfully uninstalled pip-23.1.2
Successfully installed pip-24.0

In [2]:
from kerykeion import AstrologicalSubject
kanye = AstrologicalSubject("Kanye", 1977, 6, 8, 8, 45, "Atlanta")
kanye.sun

ModuleNotFoundError: No module named 'kerykeion'

In [3]:
!pip install kerykeion

Collecting kerykeion
  Downloading kerykeion-4.4.2-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pydantic<3.0,>=2.5 in /usr/local/lib/python3.10/dist-packages (from kerykeion) (2.6.4)
Collecting pyswisseph<3.0.0.0,>=2.10.3.1 (from kerykeion)
  Downloading pyswisseph-2.10.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.9 kB)
Collecting pytz<2023.0,>=2022.7 (from kerykeion)
  Downloading pytz-2022.7.1-py2.py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: requests<3.0.0,>=2.28.1 in /usr/local/lib/python3.10/dist-packages (from kerykeion) (2.31.0)
Collecting requests-cache<0.10.0,>=0.9.7 (from kerykeion)
  Downloading requests_cache-0.9.8-py3-none-any.whl.metadata (8.7 kB)
Collecting terminaltables<4.0.0,>=3.1.10 (from kerykeion)
  Downloading terminaltables-3.1.10-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3.0,>=2.5->kerykeion) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in /usr/local/lib/python3.10/dist-packages (from pydantic<3.0,>=2.5->kerykeion) (2.16.3)
Requirement already satisfied: typing-extensions>=4.6.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3.0,>=2.5->kerykeion) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.28.1->kerykeion) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.28.1->kerykeion) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.28.1->kerykeion) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.28.1->kerykeion) (2024.2.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from requests-cache<0.10.0,>=0.9.7->kerykeion) (1.4.4)
Requirement already satisfied: attrs>=21.2 in /usr/local/lib/python3.10/dist-packages (from requests-cache<0.10.0,>=0.9.7->kerykeion) (23.2.0)
Collecting cattrs>=22.2 (from requests-cache<0.10.0,>=0.9.7->kerykeion)
  Downloading cattrs-23.2.3-py3-none-any.whl.metadata (10 kB)
Collecting url-normalize>=1.4 (from requests-cache<0.10.0,>=0.9.7->kerykeion)
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl.metadata (3.1 kB)
Requirement already satisfied: exceptiongroup>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from cattrs>=22.2->requests-cache<0.10.0,>=0.9.7->kerykeion) (1.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from url-normalize>=1.4->requests-cache<0.10.0,>=0.9.7->kerykeion) (1.16.0)
Downloading kerykeion-4.4.2-py3-none-any.whl (303 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 303.9/303.9 kB 11.6 MB/s eta 0:00:00
Downloading pyswisseph-2.10.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 69.4 MB/s eta 0:00:00
Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 kB 36.0 MB/s eta 0:00:00
Downloading requests_cache-0.9.8-py3-none-any.whl (48 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.7/48.7 kB 4.1 MB/s eta 0:00:00
Downloading terminaltables-3.1.10-py2.py3-none-any.whl (15 kB)
Downloading cattrs-23.2.3-py3-none-any.whl (57 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.5/57.5 kB 5.4 MB/s eta 0:00:00
Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Installing collected packages: pytz, url-normalize, terminaltables, pyswisseph, cattrs, requests-cache, kerykeion
  Attempting uninstall: pytz
    Found existing installation: pytz 2023.4
    Uninstalling pytz-2023.4:
      Successfully uninstalled pytz-2023.4
Successfully installed cattrs-23.2.3 kerykeion-4.4.2 pyswisseph-2.10.3.2 pytz-2022.7.1 requests-cache-0.9.8 terminaltables-3.1.10 url-normalize-1.4.3
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [4]:
from kerykeion import AstrologicalSubject

In [5]:
kanye = AstrologicalSubject("Kanye", 1977, 6, 8, 8, 45, "Atlanta")

WARNING:root:No nation specified, using GB as default
WARNING:root:No latitude specified, using London as default
WARNING:root:No longitude specified, using London as default

In [7]:
kanye.sun

{'name': 'Sun', 'quality': 'Mutable', 'element': 'Air', 'sign': 'Gem', 'sign_num': 2, 'position': 17.598992059774275, 'abs_pos': 77.59899205977428, 'emoji': '♊️', 'point_type': 'Planet', 'house': 'Twelfth_House', 'retrograde': False}

In [9]:
kanye.first_house

{'name': 'First_House', 'quality': 'Cardinal', 'element': 'Water', 'sign': 'Can', 'sign_num': 3, 'position': 17.995779673209114, 'abs_pos': 107.99577967320911, 'emoji': '♋️', 'point_type': 'House'}

In [11]:
kanye.moon.element

'Water'

In [13]:
import matplotlib.pyplot as plt
from kerykeion import AstrologicalSubject, KerykeionChartSVG

In [15]:
from kerykeion import AstrologicalSubject, KerykeionChartSVG

first = AstrologicalSubject("Jack", 1990, 6, 15, 15, 15, "Roma")
second = AstrologicalSubject("Jane", 1991, 10, 25, 21, 00, "Roma")

# Set the type, it can be Natal, Synastry or Transit

name = KerykeionChartSVG(first, chart_type="Synastry", second_obj=second)
name.makeSVG()
print(len(name.aspects_list))

WARNING:root:No nation specified, using GB as default
WARNING:root:No latitude specified, using London as default
WARNING:root:No longitude specified, using London as default
WARNING:root:No nation specified, using GB as default
WARNING:root:No latitude specified, using London as default
WARNING:root:No longitude specified, using London as default

69

In [17]:
from kerykeion import Report, AstrologicalSubject

kanye = AstrologicalSubject("Kanye", 1977, 6, 8, 8, 45, "Atlanta")
report = Report(kanye)
report.print_report()

WARNING:root:No nation specified, using GB as default
WARNING:root:No latitude specified, using London as default
WARNING:root:No longitude specified, using London as default

+- Kerykeion report for Kanye -+
+----------+------+-------------+-----------+----------+
| Date     | Time | Location    | Longitude | Latitude |
+----------+------+-------------+-----------+----------+
| 8/6/1977 | 8:45 | Atlanta, US | -84.38798 | 33.749   |
+----------+------+-------------+-----------+----------+
+-----------+------+-------+------+----------------+
| Planet    | Sign | Pos.  | Ret. | House          |
+-----------+------+-------+------+----------------+
| Sun       | Gem  | 17.6  | -    | Twelfth_House  |
| Moon      | Pis  | 16.43 | -    | Ninth_House    |
| Mercury   | Tau  | 26.29 | -    | Eleventh_House |
| Venus     | Tau  | 2.03  | -    | Tenth_House    |
| Mars      | Tau  | 1.79  | -    | Tenth_House    |
| Jupiter   | Gem  | 14.61 | -    | Eleventh_House |
| Saturn    | Leo  | 12.8  | -    | Second_House   |
| Uranus    | Sco  | 8.27  | R    | Fourth_House   |
| Neptune   | Sag  | 14.69 | R    | Fifth_House    |
| Pluto     | Lib  | 11.45 | R    | Fourth_House   |
| Mean_Node | Lib  | 21.49 | R    | Fourth_House   |
| True_Node | Lib  | 22.82 | R    | Fourth_House   |
| Chiron    | Tau  | 4.17  | -    | Tenth_House    |
+-----------+------+-------+------+----------------+
+----------------+------+----------+
| House          | Sign | Position |
+----------------+------+----------+
| First_House    | Can  | 18.0     |
| Second_House   | Leo  | 9.51     |
| Third_House    | Vir  | 4.02     |
| Fourth_House   | Lib  | 3.98     |
| Fifth_House    | Sco  | 9.39     |
| Sixth_House    | Sag  | 15.68    |
| Seventh_House  | Cap  | 18.0     |
| Eighth_House   | Aqu  | 9.51     |
| Ninth_House    | Pis  | 4.02     |
| Tenth_House    | Ari  | 3.98     |
| Eleventh_House | Tau  | 9.39     |
| Twelfth_House  | Gem  | 15.68    |
+----------------+------+----------+

In [19]:
import pandas as pd

In [39]:
df=pd.read_csv("famous_people_birthdays-_1_.csv")
df.head()
 #df["Most_successful_year"]

,Name,Year,Month,Day,Hour,Minutes,City,Nation,Least_successful_year,Most_successful_year
0,Barack Obama,1961,8,4,19,24,Honolulu,United States,2016,2009
1,Oprah Winfrey,1954,1,29,4,30,Kosciusko,United States,1976,1986
2,Nelson Mandela,1918,7,18,14,54,Mvezo,South Africa,1962,1994
3,Queen Elizabeth II,1926,4,21,2,40,London,United Kingdom,1992,1952
4,Dalai Lama,1935,7,6,4,38,Taktser,China,1959,1989

In [23]:
import swisseph as swe

In [24]:
swe.set_ephe_path('/opt/conda/lib/python3.10/site-packages/kerykeion/sweph/')

In [48]:
import pandas as pd
from kerykeion import AstrologicalSubject

astrological_subjects = []
for _, row in df.head(4).iterrows():
    a = AstrologicalSubject(
        str(row["Name"]),
        row["Year"],
        row["Month"],
        row["Day"],
        row["Hour"],
        row["Minutes"],
        str(row["City"]),
        row["Least_successful_year"],
        str(row["Most_successful_year "])
    )
    astrological_subjects.append(a)

WARNING:root:No latitude specified, using London as default
WARNING:root:No latitude specified, using London as default
WARNING:root:No latitude specified, using London as default
WARNING:root:No latitude specified, using London as default

In [49]:
astrological_subjects

[Astrological data for: Barack Obama, 1961-08-05 05:24:00+00:00 UTC
 Birth location: Honolulu, Lat 21.30694, Lon -157.85833,
 Astrological data for: Oprah Winfrey, 1954-01-29 10:30:00+00:00 UTC
 Birth location: Kosciusko, Lat 41.2441, Lon -85.86072,
 Astrological data for: Nelson Mandela, 1918-07-18 12:54:00+00:00 UTC
 Birth location: Mvezo, Lat -31.94948, Lon 28.51793,
 Astrological data for: Queen Elizabeth II, 1926-04-21 01:40:00+00:00 UTC
 Birth location: London, Lat 51.50853, Lon -0.12574]

In [51]:
from kerykeion import AstrologicalSubject, KerykeionChartSVG

first = AstrologicalSubject("Jack", 1990, 6, 15, 15, 15, "Roma")
second = AstrologicalSubject("Jane", 1991, 10, 25, 21, 00, "Roma")

# Set the type, it can be Natal, Synastry or Transit

name = KerykeionChartSVG(first, chart_type="Synastry", second_obj=second)
try:
    name.makeSVG()
except Exception as e:
    print("Error occurred while generating SVG:", str(e))

WARNING:root:No nation specified, using GB as default
WARNING:root:No latitude specified, using London as default
WARNING:root:No longitude specified, using London as default
WARNING:root:No nation specified, using GB as default
WARNING:root:No latitude specified, using London as default
WARNING:root:No longitude specified, using London as default

In [55]:
for i in astrological_subjects:
    report = Report(i)
    report.print_report()
    # for r in report:
    #   if 'Planet'=='Sun':
    #     Planet = 1

+- Kerykeion report for Barack Obama -+
+----------+-------+--------------+------------+----------+
| Date     | Time  | Location     | Longitude  | Latitude |
+----------+-------+--------------+------------+----------+
| 4/8/1961 | 19:24 | Honolulu, US | -157.85833 | 21.30694 |
+----------+-------+--------------+------------+----------+
+-----------+------+-------+------+---------------+
| Planet    | Sign | Pos.  | Ret. | House         |
+-----------+------+-------+------+---------------+
| Sun       | Leo  | 12.55 | -    | Sixth_House   |
| Moon      | Gem  | 3.35  | -    | Fourth_House  |
| Mercury   | Leo  | 2.33  | -    | Sixth_House   |
| Venus     | Can  | 1.79  | -    | Fifth_House   |
| Mars      | Vir  | 22.58 | -    | Seventh_House |
| Jupiter   | Aqu  | 0.86  | R    | Twelfth_House |
| Saturn    | Cap  | 25.33 | R    | Twelfth_House |
| Uranus    | Leo  | 25.27 | -    | Seventh_House |
| Neptune   | Sco  | 8.61  | -    | Ninth_House   |
| Pluto     | Vir  | 6.98  | -    | Seventh_House |
| Mean_Node | Leo  | 27.89 | R    | Seventh_House |
| True_Node | Leo  | 27.3  | R    | Seventh_House |
| Chiron    | Pis  | 5.32  | R    | First_House   |
+-----------+------+-------+------+---------------+
+----------------+------+----------+
| House          | Sign | Position |
+----------------+------+----------+
| First_House    | Aqu  | 18.05    |
| Second_House   | Pis  | 25.91    |
| Third_House    | Tau  | 0.3      |
| Fourth_House   | Tau  | 28.89    |
| Fifth_House    | Gem  | 23.98    |
| Sixth_House    | Can  | 19.02    |
| Seventh_House  | Leo  | 18.05    |
| Eighth_House   | Vir  | 25.91    |
| Ninth_House    | Sco  | 0.3      |
| Tenth_House    | Sco  | 28.89    |
| Eleventh_House | Sag  | 23.98    |
| Twelfth_House  | Cap  | 19.02    |
+----------------+------+----------+

+- Kerykeion report for Oprah Winfrey -+
+-----------+------+---------------+-----------+----------+
| Date      | Time | Location      | Longitude | Latitude |
+-----------+------+---------------+-----------+----------+
| 29/1/1954 | 4:30 | Kosciusko, US | -85.86072 | 41.2441  |
+-----------+------+---------------+-----------+----------+
+-----------+------+-------+------+----------------+
| Planet    | Sign | Pos.  | Ret. | House          |
+-----------+------+-------+------+----------------+
| Sun       | Aqu  | 8.99  | -    | Second_House   |
| Moon      | Sag  | 4.53  | -    | Eleventh_House |
| Mercury   | Aqu  | 19.16 | -    | Second_House   |
| Venus     | Aqu  | 8.85  | -    | Second_House   |
| Mars      | Sco  | 23.58 | -    | Eleventh_House |
| Jupiter   | Gem  | 16.66 | R    | Sixth_House    |
| Saturn    | Sco  | 9.04  | -    | Tenth_House    |
| Uranus    | Can  | 20.31 | R    | Seventh_House  |
| Neptune   | Lib  | 26.06 | R    | Tenth_House    |
| Pluto     | Leo  | 24.15 | R    | Eighth_House   |
| Mean_Node | Cap  | 23.25 | R    | First_House    |
| True_Node | Cap  | 23.93 | -    | First_House    |
| Chiron    | Cap  | 23.59 | -    | First_House    |
+-----------+------+-------+------+----------------+
+----------------+------+----------+
| House          | Sign | Position |
+----------------+------+----------+
| First_House    | Sag  | 27.66    |
| Second_House   | Aqu  | 5.81     |
| Third_House    | Pis  | 17.29    |
| Fourth_House   | Ari  | 21.4     |
| Fifth_House    | Tau  | 17.08    |
| Sixth_House    | Gem  | 7.97     |
| Seventh_House  | Gem  | 27.66    |
| Eighth_House   | Leo  | 5.81     |
| Ninth_House    | Vir  | 17.29    |
| Tenth_House    | Lib  | 21.4     |
| Eleventh_House | Sco  | 17.08    |
| Twelfth_House  | Sag  | 7.97     |
+----------------+------+----------+

+- Kerykeion report for Nelson Mandela -+
+-----------+-------+-----------+-----------+-----------+
| Date      | Time  | Location  | Longitude | Latitude  |
+-----------+-------+-----------+-----------+-----------+
| 18/7/1918 | 14:54 | Mvezo, ZA | 28.51793  | -31.94948 |
+-----------+-------+-----------+-----------+-----------+
+-----------+------+-------+------+----------------+
| Planet    | Sign | Pos.  | Ret. | House          |
+-----------+------+-------+------+----------------+
| Sun       | Can  | 25.07 | -    | Eighth_House   |
| Moon      | Sco  | 20.25 | -    | Twelfth_House  |
| Mercury   | Leo  | 16.13 | -    | Ninth_House    |
| Venus     | Gem  | 22.58 | -    | Sixth_House    |
| Mars      | Lib  | 12.58 | -    | Eleventh_House |
| Jupiter   | Can  | 1.17  | -    | Seventh_House  |
| Saturn    | Leo  | 15.03 | -    | Ninth_House    |
| Uranus    | Aqu  | 26.93 | R    | Third_House    |
| Neptune   | Leo  | 6.38  | -    | Eighth_House   |
| Pluto     | Can  | 5.54  | -    | Seventh_House  |
| Mean_Node | Sag  | 20.53 | R    | Twelfth_House  |
| True_Node | Sag  | 21.83 | -    | Twelfth_House  |
| Chiron    | Ari  | 3.42  | R    | Fourth_House   |
+-----------+------+-------+------+----------------+
+----------------+------+----------+
| House          | Sign | Position |
+----------------+------+----------+
| First_House    | Sag  | 23.68    |
| Second_House   | Cap  | 16.14    |
| Third_House    | Aqu  | 9.01     |
| Fourth_House   | Pis  | 5.74     |
| Fifth_House    | Ari  | 9.02     |
| Sixth_House    | Tau  | 17.34    |
| Seventh_House  | Gem  | 23.68    |
| Eighth_House   | Can  | 16.14    |
| Ninth_House    | Leo  | 9.01     |
| Tenth_House    | Vir  | 5.74     |
| Eleventh_House | Lib  | 9.02     |
| Twelfth_House  | Sco  | 17.34    |
+----------------+------+----------+

+- Kerykeion report for Queen Elizabeth II -+
+-----------+------+------------+-----------+----------+
| Date      | Time | Location   | Longitude | Latitude |
+-----------+------+------------+-----------+----------+
| 21/4/1926 | 2:40 | London, GB | -0.12574  | 51.50853 |
+-----------+------+------------+-----------+----------+
+-----------+------+-------+------+---------------+
| Planet    | Sign | Pos.  | Ret. | House         |
+-----------+------+-------+------+---------------+
| Sun       | Tau  | 0.21  | -    | Second_House  |
| Moon      | Leo  | 12.12 | -    | Seventh_House |
| Mercury   | Ari  | 4.66  | -    | Second_House  |
| Venus     | Pis  | 13.96 | -    | First_House   |
| Mars      | Aqu  | 20.87 | -    | First_House   |
| Jupiter   | Aqu  | 22.51 | -    | First_House   |
| Saturn    | Sco  | 24.45 | R    | Ninth_House   |
| Uranus    | Pis  | 27.36 | -    | Second_House  |
| Neptune   | Leo  | 22.03 | R    | Seventh_House |
| Pluto     | Can  | 12.71 | -    | Sixth_House   |
| Mean_Node | Can  | 20.47 | R    | Sixth_House   |
| True_Node | Can  | 20.11 | R    | Sixth_House   |
| Chiron    | Ari  | 28.02 | -    | Second_House  |
+-----------+------+-------+------+---------------+
+----------------+------+----------+
| House          | Sign | Position |
+----------------+------+----------+
| First_House    | Cap  | 21.42    |
| Second_House   | Pis  | 18.49    |
| Third_House    | Tau  | 0.34     |
| Fourth_House   | Tau  | 25.59    |
| Fifth_House    | Gem  | 14.13    |
| Sixth_House    | Can  | 1.12     |
| Seventh_House  | Can  | 21.42    |
| Eighth_House   | Vir  | 18.49    |
| Ninth_House    | Sco  | 0.34     |
| Tenth_House    | Sco  | 25.59    |
| Eleventh_House | Sag  | 14.13    |
| Twelfth_House  | Cap  | 1.12     |
+----------------+------+----------+